body {
    color: black;
    background-color: aliceblue;
    font-family: "Outfit", "Noto Sans SC", "PingFang SC", "Noto Sans CJK SC", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
    font-size: medium;
}

h1, h2 {
    margin-block-start: .4em;
    margin-block-end: .3em;
}

p {
    margin-block-start: .75em;
    margin-block-end: .75em;
}

table {
    margin-top: .25em;
    border-collapse: collapse;
    letter-spacing: 1px;
}

td {
    min-width: 5em;
    height: 24px;
    padding: 0 .2em;
    border: 1px solid;
}
td.time {
    text-align: center;
    min-width: 3em;
}
td.class {
    min-width: 2.75em;
}

.header {
    font-size: large;
}

.countdown {
    font-weight: bold;
}

.hint {
    color: darkslategray;
}

span.time {
    font-family: "JetBrains Mono", "Noto Sans Mono", "Consolas", "Courier New", Courier, monospace;
    font-weight: 500;
}

.current {
    font-weight: bold;
    color: darkblue;
}

.current.next {
    color: darkcyan;
}

.count-end {
    color: gray;
    font-size: smaller;
}

@media (prefers-color-scheme: dark) {
    body {
        color: aliceblue;
        background-color: black;
    }
    .hint {
        color: lightslategray;
    }
    .current {
        color: lightskyblue;
    }
    .current.next {
        color: aquamarine;
    }
}
